<head>
 <meta name="theme-color" content="#ffffff"/>
 <meta name="robots" content="index, follow"/>
 <title>{{ page.params.title }} | {{ site.title }}</title>
 <meta name="keywords" content="{{ page.params.keywords }}"/>
 <meta property="og:image:type" content="image/png"/>
 <meta property="og:name" content="{{ page.params.title }}"/>
 <link rel="manifest" href="{{ site.user_config.icon_manifest }}"/>
 <meta name="og:image:alt" content="{{ page.params.title }}"/>
 <meta name="twitter:title" content="{{ page.params.title }}"/>
 <meta name="msapplication-TileColor" content="#ffffff"/>
 <meta name="twitter:card" content="summary_large_image"/>
 <meta property="twitter:image:type" content="image/png"/>
 <meta property="og:image" content="{{ site.user_config.bannerUrl }}"/>
 <meta name="twitter:image:alt" content="{{ page.params.title }}"/>
 <meta name="twitter:image" content="{{ site.user_config.bannerUrl }}"/>
 <meta name="description" content="{{ page.params.description }}"/>
 <meta property="og:description" content="{{ page.params.description }}"/>
 <meta name="title" content="{{ page.params.title }} | {{ site.title }}"/>
 <meta name="twitter:description" content="{{ page.params.description }}"/>
 <meta name="viewport" content="width=device-width, initial-scale=1"/>
 <meta name="msapplication-TileImage" content="{{ site.user_config.icon_144_url }}"/>
 <link rel="apple-touch-icon" sizes="57x57" href="{{ site.user_config.icon_57_url }}"/>
 <link rel="apple-touch-icon" sizes="60x60" href="{{ site.user_config.icon_60_url }}"/>
 <link rel="apple-touch-icon" sizes="72x72" href="{{ site.user_config.icon_72_url }}"/>
 <link rel="apple-touch-icon" sizes="76x76" href="{{ site.user_config.icon_76_url }}"/>
 <link rel="icon" type="image/png" sizes="16x16" href="{{ site.user_config.icon_16_url }}"/>
 <link rel="apple-touch-icon" sizes="114x114" href="{{ site.user_config.icon_114_url }}"/>
 <link rel="apple-touch-icon" sizes="120x120" href="{{ site.user_config.icon_120_url }}"/>
 <link rel="apple-touch-icon" sizes="144x144" href="{{ site.user_config.icon_144_url }}"/>
 <link rel="apple-touch-icon" sizes="152x152" href="{{ site.user_config.icon_152_url }}"/>
 <link rel="apple-touch-icon" sizes="180x180" href="{{ site.user_config.icon_180_url }}"/>
 <link rel="icon" type="image/png" sizes="32x32" href="{{ site.user_config.icon_32_url }}"/>
 <link rel="icon" type="image/png" sizes="96x96" href="{{ site.user_config.icon_96_url }}"/>
 <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.user_config.icon_192_url }}"/>
 <link rel="stylesheet" href="{{ baseurl }}/css/index.css" type="text/css"/>
 <link rel="stylesheet" href="https://alyxshang.boo/spark-cdn/css/sparkfonts.css" type="text/css"/>
</head>